
.App{
  background-image: url('Components/NavBar/bg.png');
  width: 99%;
}
.App-header {
  height: 100px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}
.OpeningWords{
  display: flex;
  justify-content: center;

}
.skills{
  background:#f1f1f1;
  color:#666666;
    
}
.footer{
  margin: 2rem;
  margin-left: 4%;
  margin-bottom: 1%;
  margin-top: -3%;
  background-color:#2a3b4e;
  color:#f9f9f9;
  box-shadow: 10px 10px 50px #888888;
}
.social{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  background-image: linear-gradient(to right, #2a3b4e, #f9f9f9);
}

.container {
  max-width: 1390px;
  color: white;
  margin-bottom: 70px
}
.md-form label {
  color: white
}
.form-control:focus {
  color:white
}
.form-control{
  color: white
}
